# Python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.venv/
.research/
env/
venv/

# LaTeX
*.aux
*.log
*.out
*.pdf
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
Thesis/References/

# Project Data
data/
*.csv
*.xls
*.xlsx
result.txt

# Temporary files
tmp/
*.tmp
*~

# OS specific
.DS_Store
Thumbs.db
